vendor, fabric, storage, notions
{background-color: #47092E;
       width: 100%;
       font-family: Helevtica, San-serif, Tahoma;
       margin-left: 5px;
       margin-right:5px;
       margin-top: 5px;
}
title 
{color: #FEF9FF;
        text-align: center;
        font-size: 40px;  
}
location, purchase, website, texture, material, design, care, bins, totes, boxes, cabinets, thread, needles, bobbins, fasteners, pins
{display: block;
        margin-top: 20px;
        color: #F3EBF5;
}
ttitle, ntitle, btitle, ftitle, ptitle, boxtitle, ctitle, mtitle, dtitle, wtitle, ltitle
{display: block;
        margin-top: 20px;
        font-size: 20px;
        font-weight: bold;
        color: #F3EBF5;
}
type, tcolor, nstyle, brand, bcolor, fstyle, material, pstyle, psize, ccolor, cstyle, bsize, tsize, bstyle, width, height, multiplecolors, pattern, solidcolor, washingmachine, dryclean, handwash, wool, polyester, rugsample, cotton, silk, rough, smooth, silky, wname, waddress, laddress, state, lname
{margin-top: 10px;
         margin-bottom:10px;
         display: block;
         color: #F3EBF5;
 }