body { margin: 50px 100px 0px;
       font-family: Helvetica, Arial, sans-serif;
}
h1 { font-family: Trebuchet MS, sans-serif;
     color: #A642C1;
     background-color: #BDD15E;
     text-align:center;
     border: 4px double #A642C1; 
}
h2 { font-family: Arial, sans-serif, Verdana;
     background-color: #A642C1;
     color: #BDD15E;
     text-align:center;
}
h3 { color: #BDD15E;
     background-color: #A642C1;
}
h4 { background-color: #BDD15E;
     text-align:center;
     border: 4px double #A642C1;
     font-size: .8em;
     font-style: italic;
     color: #A642C1;
}
li { font-weight: bold;
     color: #A642C1;
     padding-bottom:15px;
}
a:link { color: #008787;
         font-weight: bold; 
}
a:visited { color: #A642C1;
}
a:hover { color: #81A3D0;
          text-decoration: none; 
          background-color: #7A275D;
}
a:active { color: #A5A0A0;
           text-decoration: none;             
}

